Firmware/Node-Red_Flows/Grove_Openponics_V1.2.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"c5cdaae6.6bcd6","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":166.99998474121094,"y":668.5500640869141,"wires":[["d488f91d.99a94","3c3d8b7b.df055c","dc9c4535.c775c","5e0bf2e0.fa0bbc","1b338847.72e948","8f23fdc9.4b2908","905f2be8.73d8b8","5961d6a0.f4b048","5a752d8f.3e646c","654dd03f.8b3f7","3ec012e.67c986e","915b09f8.5ca13","f4b5fcf5.c75138"]]\},\{"id":"929aeafc.e022e8","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"8820f383.d16eb8","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Wattage AC","label":"Watts","format":"\{\{value | number:2\}\}","min":0,"max":"500","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":754.5,"y":667.5500640869141,"wires":[]\},\{"id":"928dae65.22c35","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"8820f383.d16eb8","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Current AC","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#0bb500","#e6e100","#ca000f"],"seg1":"","seg2":"","x":742.5,"y":706.5500640869141,"wires":[]\},\{"id":"4317cd85.ad4064","type":"ui_slider","z":"9083aed.7d7c65","name":"","label":"","tooltip":"","group":"74eddf46.09d528","order":2,"width":"4","height":"1","passthru":false,"outs":"all","topic":"param","min":0,"max":"255","step":1,"x":652.5,"y":297.5500030517578,"wires":[["8c07075f.1f0a28"]]\},\{"id":"31514d47.508b72","type":"ui_slider","z":"9083aed.7d7c65","name":"","label":"","tooltip":"","group":"74eddf46.09d528","order":4,"width":"4","height":"1","passthru":true,"outs":"all","topic":"param","min":0,"max":"255","step":1,"x":581,"y":413.55003356933594,"wires":[["49ad332a.8ef624"]]\},\{"id":"2b09d9b6.3be08e","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"48V","tooltip":"","group":"309af12b.fdb71e","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-bolt","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-bolt","offcolor":"grey","x":292.5,"y":69.55000305175781,"wires":[["a11b3639.a6b988"]]\},\{"id":"9b95a8db.1a39b8","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"PUMP","tooltip":"","group":"309af12b.fdb71e","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-tint ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-tint","offcolor":"grey","x":288.99998474121094,"y":103.55000305175781,"wires":[["74346acb.a7890c"]]\},\{"id":"d779368f.d3581","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"FAN2","tooltip":"","group":"309af12b.fdb71e","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":290.00001525878906,"y":174.5500030517578,"wires":[["b72ce6dc.709a38"]]\},\{"id":"9ddf87d9.d1b5a8","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"CASE_FAN","tooltip":"","group":"309af12b.fdb71e","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":276,"y":212.54998779296875,"wires":[["c587623e.d03ed"]]\},\{"id":"7faf525f.c66b0c","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"LED2","tooltip":"","group":"74eddf46.09d528","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":275.9999694824219,"y":433.55003356933594,"wires":[["2272a3f3.814fac","5ca9482.4b075b8"]]\},\{"id":"f3f4da99.957a18","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"LED1","tooltip":"","group":"74eddf46.09d528","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":283,"y":256.54998779296875,"wires":[["a03972ba.111458","11686f73.81db39"]]\},\{"id":"2272a3f3.814fac","type":"function","z":"9083aed.7d7c65","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":429.8333740234375,"y":412.7167205810547,"wires":[["31514d47.508b72"]]\},\{"id":"a03972ba.111458","type":"function","z":"9083aed.7d7c65","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":297.5500030517578,"wires":[["4317cd85.ad4064"]]\},\{"id":"8366597f.10ee88","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1253.5499420166016,"wires":[["415e5d17.7259ec","3a13670.3d2711a","c207707c.0f991"]]\},\{"id":"f10745a8.ec249","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"972a0efd.72026","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":695,"y":1253.5499420166016,"wires":[]\},\{"id":"8eb170e9.e54158","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"972a0efd.72026","order":1,"width":"3","height":"2","gtype":"gage","title":"Comp Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":903,"y":1353.5499420166016,"wires":[]\},\{"id":"29f22199.2ca1d6","type":"function","z":"9083aed.7d7c65","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":513.5,"y":1350.5499420166016,"wires":[["f717974.0cafb68"]]\},\{"id":"f717974.0cafb68","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"972a0efd.72026","order":2,"width":"3","height":"2","gtype":"gage","title":"Actual Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":712,"y":1350.5499420166016,"wires":[]\},\{"id":"ecac8b0d.4c75","type":"function","z":"9083aed.7d7c65","name":"inHg Conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":511,"y":1434.5500030517578,"wires":[["9523a2d7.437e68"]]\},\{"id":"9523a2d7.437e68","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"972a0efd.72026","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":698,"y":1433.550048828125,"wires":[]\},\{"id":"c36fd536.0a202","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":146.0000457763672,"y":1512.5500183105469,"wires":[["fc40fcef.ca9ea","295470c3.ff66a","62472ab4.ab382c","a44850f6.2a1068","36e21bc9.84d15c"]]\},\{"id":"367e9a94.1638d6","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d42c6a29.41408","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":703.0000457763672,"y":1512.5500183105469,"wires":[]\},\{"id":"aaf2be88.43b8e","type":"function","z":"9083aed.7d7c65","name":"inHg conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":524.0000305175781,"y":1595.5500183105469,"wires":[["a5d58b1f.96a1b8"]]\},\{"id":"a5d58b1f.96a1b8","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d42c6a29.41408","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":694.0000305175781,"y":1593.5500183105469,"wires":[]\},\{"id":"e854c328.70cb2","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d42c6a29.41408","order":1,"width":"3","height":"2","gtype":"gage","title":"Water Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":734.0000305175781,"y":1635.5500183105469,"wires":[]\},\{"id":"e58649bc.0539a","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d42c6a29.41408","order":2,"width":"3","height":"2","gtype":"gage","title":"Water Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":719.0000305175781,"y":1678.5500183105469,"wires":[]\},\{"id":"76e9544a.3168bc","type":"ui_numeric","z":"9083aed.7d7c65","name":"","label":"Set Upper Threshold","tooltip":"","group":"b964908b.022778","order":1,"width":"0","height":"0","passthru":true,"topic":"param","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":733.5000305175781,"y":1727.5500183105469,"wires":[["edb378a7.f749d"]]\},\{"id":"31aa987.76dc268","type":"ui_numeric","z":"9083aed.7d7c65","name":"","label":"Set Lower Threshold","tooltip":"","group":"b964908b.022778","order":2,"width":"0","height":"0","passthru":true,"topic":"param","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":748,"y":1815.550048828125,"wires":[["118096c.cd879e9"]]\},\{"id":"5e122f6d.a34008","type":"function","z":"9083aed.7d7c65","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":517.0000305175781,"y":1677.5500183105469,"wires":[["e58649bc.0539a"]]\},\{"id":"608443f3.5195e4","type":"ui_template","z":"9083aed.7d7c65","group":"5304ccf4.92a754","name":"","order":6,"width":0,"height":0,"format":"<script>\\nvar value = \\"1\\";\\n// or overwrite value in your callback function ...\\nthis.scope.action = function() \{ return value; \}\\n\\nfunction updateF() \{\\n  var source = '/photo1.JPEG',\\n  timestamp = (new Date()).getTime(),\\n  newUrl = source + '?_=' + timestamp;\\n  document.getElementById(\\"photo\\").src = newUrl;\\n\}\\n</script>\\n\\n<md-button ng-click=\\"send(\{payload:action()\})\\" onclick=\\"setTimeout(updateF, 2500);\\" style=\\"padding:10px; margin-bottom: 10px;\\" >\\n <ui-icon icon=\\"camera\\"></ui-icon>\\n Take A Photo<br>\\n</md-button>\\n\\n<div style=\\"margin-bottom:40px;\\">\\n <img src=\\"/photo1.JPEG\\" id=\\"photo\\" width=\\"100%\\" height=\\"100%\\">\\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":337.5,"y":2076.550003051758,"wires":[["7a206ec0.d2bdf"]]\},\{"id":"f7025d28.ea7ea","type":"debug","z":"9083aed.7d7c65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":698.5,"y":2073.550048828125,"wires":[]\},\{"id":"8eacf8d3.02c688","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"1","x":171,"y":2078.550003051758,"wires":[["608443f3.5195e4"]]\},\{"id":"422f1a0.5776a68","type":"inject","z":"9083aed.7d7c65","name":"ON=7:00AM","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":"","x":124,"y":347.5500030517578,"wires":[["f3f4da99.957a18","7faf525f.c66b0c"]]\},\{"id":"feba87b2.379b6","type":"inject","z":"9083aed.7d7c65","name":"OFF=7:00PM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","x":120,"y":385.54998779296875,"wires":[["f3f4da99.957a18","7faf525f.c66b0c"]]\},\{"id":"29fddcf8.0b9cfc","type":"comment","z":"9083aed.7d7c65","name":"Turn on/off at specific times","info":"","x":163,"y":302.5499725341797,"wires":[]\},\{"id":"12fab7dd.3666c","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d4cadbe1.18048","order":1,"width":"3","height":"2","gtype":"gage","title":"pH_1","label":"potential Hydrogen ","format":"\{\{value | number:2\}\}","min":0,"max":"14","colors":["#f60a0f","#ffe904","#00a7ca"],"seg1":"","seg2":"","x":716,"y":740.0500030517578,"wires":[]\},\{"id":"7514dd57.24e98c","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":162.4499969482422,"y":1931.9999542236328,"wires":[["2aef1b89.abb8ec","c4ce6b2f.4ac16"]]\},\{"id":"5bf1f7b6.cd39a","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"fbc7d556.c678f8","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":727.4500122070312,"y":1983.9999542236328,"wires":[]\},\{"id":"5054842f.6a68a4","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"fbc7d556.c678f8","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":706.4500122070312,"y":1936.9999542236328,"wires":[]\},\{"id":"7f1eb4ea.55d15c","type":"comment","z":"9083aed.7d7c65","name":"Turtle Tank","info":"","x":105.4000244140625,"y":1467.8000030517578,"wires":[]\},\{"id":"7e08b2b7.4c965c","type":"comment","z":"9083aed.7d7c65","name":"RasPi Node-Red Server Camera","info":"","x":187.39999389648438,"y":2028.7999877929688,"wires":[]\},\{"id":"9599aea5.43c588","type":"comment","z":"9083aed.7d7c65","name":"Terrarium","info":"","x":122.44999694824219,"y":1877.9999542236328,"wires":[]\},\{"id":"633b3358.639824","type":"comment","z":"9083aed.7d7c65","name":"Window Weather","info":"","x":111.44999694824219,"y":1208.0999298095703,"wires":[]\},\{"id":"7ffb43ad.1037e4","type":"comment","z":"9083aed.7d7c65","name":"Grove Motherboard Functions","info":"","x":173.14999389648438,"y":20,"wires":[]\},\{"id":"6f2a45e4.07911c","type":"comment","z":"9083aed.7d7c65","name":"Grove Motherboard Variables","info":"","x":156.64999389648438,"y":558.2000885009766,"wires":[]\},\{"id":"c0c2bbd1.450b28","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d4cadbe1.18048","order":2,"width":"3","height":"2","gtype":"gage","title":"pH_2","label":"potential Hydrogen ","format":"\{\{value | number:2\}\}","min":0,"max":"14","colors":["#f60a0f","#ffe904","#00a7ca"],"seg1":"","seg2":"","x":714.449951171875,"y":781.3000640869141,"wires":[]\},\{"id":"fc0b45df.e2ac98","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d4cadbe1.18048","order":4,"width":"3","height":"2","gtype":"gage","title":"EC_1","label":"PPM","format":"\{\{value | number:2\}\}","min":0,"max":"5","colors":["#f6e813","#0fff28","#000bca"],"seg1":"","seg2":"","x":716.449951171875,"y":818.3000640869141,"wires":[]\},\{"id":"650fcd00.866e44","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"d4cadbe1.18048","order":3,"width":"3","height":"2","gtype":"gage","title":"H2O Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":787.449951171875,"y":852.4000244140625,"wires":[]\},\{"id":"39b2f0f5.61d6b","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Conversion","func":" var tempc = msg.payload;\\n var tempf = (tempc * 9/5) + 32;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":616.449951171875,"y":904.4000396728516,"wires":[["650fcd00.866e44"]]\},\{"id":"3ee99a33.7d410e","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":1,"width":"3","height":"2","gtype":"gage","title":"CO2","label":"PPM","format":"\{\{value | number:2\}\}","min":"400","max":"4000","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":566.449951171875,"y":941.6999664306641,"wires":[]\},\{"id":"9badc499.31b838","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":1,"width":"3","height":"2","gtype":"gage","title":"TVOC","label":"PPM","format":"\{\{value | number:2\}\}","min":"0","max":"2000","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":564.449951171875,"y":986.6999664306641,"wires":[]\},\{"id":"d508abb9.fe51f","type":"function","z":"9083aed.7d7c65","name":"inHg Conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":583.4500122070312,"y":1110.3000030517578,"wires":[["b7846bb5.a3618"]]\},\{"id":"2eaafd9.dae3f02","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":1,"width":"3","height":"2","gtype":"gage","title":"Comp Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":779.4500122070312,"y":1068.3000030517578,"wires":[]\},\{"id":"499532b0.5fd9e4","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":571.4500122070312,"y":1067.3000030517578,"wires":[]\},\{"id":"b7846bb5.a3618","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":764.4500122070312,"y":1107.3000030517578,"wires":[]\},\{"id":"85d9da51.4e119","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Conversion & Compensation","func":" var tempc = msg.payload;\\n var tempf = ((tempc * 9/5) + 32) - 9.92;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":667.4500122070312,"y":1025.3999786376953,"wires":[["2eaafd9.dae3f02"]]\},\{"id":"e24fa025.e20cc8","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"39436dfd.61325a","order":2,"width":"3","height":"2","gtype":"gage","title":"Actual Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":758.4500122070312,"y":987.3999786376953,"wires":[]\},\{"id":"8333d7db.ed77e","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Compensation","func":" var tempf = msg.payload;\\n var tempf_comp = tempf - 9.92;\\n    msg.payload = tempf_comp;\\n    return msg;","outputs":1,"noerr":0,"x":761.4500122070312,"y":1299.9998931884766,"wires":[["8eb170e9.e54158"]]\},\{"id":"fec43400.c1798","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":996.9500122070312,"y":744.8000030517578,"wires":[["19c6ba0e.bd2a56","5ab31dc5.39dfc4"]]\},\{"id":"acfd91d8.07be9","type":"ui_chart","z":"9083aed.7d7c65","name":"","group":"a06af150.02b108","order":4,"width":0,"height":0,"label":"pH","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting pH Data","dot":false,"ymin":"3","ymax":"10","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#e8d900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1487.3998413085938,"y":820.5000762939453,"wires":[[],[]]\},\{"id":"abc37d92.2688c8","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var ph1 =  msg.payload;\\nvar ph1_rounded = Math.round(ph1 * 10) / 10;\\nmsg.payload = ph1_rounded;\\nmsg.topic = 'pH1';\\nreturn msg;","outputs":1,"noerr":0,"x":1262.9500122070312,"y":749.5000152587891,"wires":[["acfd91d8.07be9"]]\},\{"id":"8b08ff28.3d162","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var ph2 =  msg.payload;\\nvar ph2_rounded = Math.round(ph2 * 10) / 10;\\nmsg.payload = ph2_rounded;\\nmsg.topic = 'pH2';\\nreturn msg;","outputs":1,"noerr":0,"x":1285.9500122070312,"y":880.5000152587891,"wires":[["acfd91d8.07be9"]]\},\{"id":"6875146d.013eec","type":"inject","z":"9083aed.7d7c65","name":"Clear Chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1032.3500366210938,"y":709.8999786376953,"wires":[["567162a6.246714"]]\},\{"id":"567162a6.246714","type":"function","z":"9083aed.7d7c65","name":"Send blank payload","func":"msg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":1263.3501586914062,"y":706.8999786376953,"wires":[["acfd91d8.07be9"]]\},\{"id":"aa7de961.0f3488","type":"comment","z":"9083aed.7d7c65","name":"pH Chart","info":"","x":1038.449951171875,"y":666.3999786376953,"wires":[]\},\{"id":"8a182cbd.47b028","type":"ui_switch","z":"9083aed.7d7c65","name":"","label":"FAN1","tooltip":"","group":"309af12b.fdb71e","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":290.4499969482422,"y":137.60000610351562,"wires":[["b04560a6.9c2ac8"]]\},\{"id":"3936150f.e43f2a","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":1005.3498840332031,"y":1056.600112915039,"wires":[["f6175aed.e3e1b8","d5894342.b8adf","a5801fe2.bf6058"]]\},\{"id":"cd53be08.59b6a8","type":"ui_chart","z":"9083aed.7d7c65","name":"","group":"67576e20.47a1b8","order":4,"width":"0","height":"0","label":"Room Temp F","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting pH Data","dot":false,"ymin":"30","ymax":"90","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e90400","#00fff5","#ff9604","#00fd1c","#e7f329","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1542.7997436523438,"y":1133.3001251220703,"wires":[[]]\},\{"id":"2c37e09a.71719","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var temp1 =  msg.payload;\\nvar temp1_rounded = Math.round(temp1 * 10) / 10;\\nmsg.payload = temp1_rounded;\\nmsg.topic = 'Room Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1542.349853515625,"y":1087.3000030517578,"wires":[["cd53be08.59b6a8"]]\},\{"id":"3ad2000f.4f8d5","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var temp2 =  msg.payload;\\nvar temp2_rounded = Math.round(temp2 * 10) / 10;\\nmsg.payload = temp2_rounded;\\nmsg.topic = 'Window_Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1318.349853515625,"y":1186.300064086914,"wires":[["cd53be08.59b6a8"]]\},\{"id":"194b1461.da9dc4","type":"inject","z":"9083aed.7d7c65","name":"Clear Chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1103.75,"y":1305.7001495361328,"wires":[["e6339e86.a8b86"]]\},\{"id":"e6339e86.a8b86","type":"function","z":"9083aed.7d7c65","name":"Send blank payload","func":"msg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":1305.7499389648438,"y":1306.7001495361328,"wires":[["cd53be08.59b6a8"]]\},\{"id":"5f29eca6.70cbcc","type":"comment","z":"9083aed.7d7c65","name":"Room Temp Chart","info":"","x":1072.8499145507812,"y":1009.2000885009766,"wires":[]\},\{"id":"2f3131c7.ec007e","type":"comment","z":"9083aed.7d7c65","name":"CCS811/BME280 Combo","info":"","x":304.4499969482422,"y":907.3000030517578,"wires":[]\},\{"id":"f555cd79.0cfd18","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Conversion & Compensation","func":" var tempc = msg.payload;\\n var tempf = ((tempc * 9/5) + 32) - 9.92;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":1305.25,"y":1049.399917602539,"wires":[["2c37e09a.71719"]]\},\{"id":"8ef71a07.b47208","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Compensation","func":" var tempf = msg.payload;\\n var tempf_comp = tempf - 9.92;\\n    msg.payload = tempf_comp;\\n    return msg;","outputs":1,"noerr":0,"x":1094.800048828125,"y":1187.550064086914,"wires":[["3ad2000f.4f8d5"]]\},\{"id":"b7eeefd5.8566f8","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"8820f383.d16eb8","order":5,"width":"3","height":"2","gtype":"gage","title":"48V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":734.4500122070312,"y":631.0000152587891,"wires":[]\},\{"id":"9d553121.6e9568","type":"ui_gauge","z":"9083aed.7d7c65","name":"","group":"8820f383.d16eb8","order":5,"width":"3","height":"2","gtype":"gage","title":"12V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":734.4500122070312,"y":595.0000152587891,"wires":[]\},\{"id":"900cd171.8b35","type":"function","z":"9083aed.7d7c65","name":"Fahrenheit Conversion","func":" var tempc = msg.payload;\\n var tempf = (tempc * 9/5) + 32;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":1124.6498413085938,"y":1266.8999786376953,"wires":[["d8f48995.4b5988"]]\},\{"id":"d8f48995.4b5988","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var temp3 =  msg.payload;\\nvar temp3_rounded = Math.round(temp3 * 10) / 10;\\nmsg.payload = temp3_rounded;\\nmsg.topic = 'Water_Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1335.9498901367188,"y":1267.3999786376953,"wires":[["cd53be08.59b6a8"]]\},\{"id":"e29d8ddf.a8aff","type":"comment","z":"9083aed.7d7c65","name":"Humidity Chart","info":"","x":1147.75,"y":1449.100112915039,"wires":[]\},\{"id":"c5777903.25e35","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":1153.75,"y":1499.1000518798828,"wires":[["a3fbf84d.fc6c48","72a7f616.f1154","5a770cee.c2174c"]]\},\{"id":"887c2773.11d36","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var hum1 =  msg.payload;\\nvar hum1_rounded = Math.round(hum1 * 10) / 10;\\nmsg.payload = hum1_rounded;\\nmsg.topic = 'Room_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1593.4666748046875,"y":1544.2166290283203,"wires":[["1f8e145.82c06ec"]]\},\{"id":"ba47ecbb.a748c","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var hum2 =  msg.payload;\\nvar hum2_rounded = Math.round(hum2 * 10) / 10;\\nmsg.payload = hum2_rounded;\\nmsg.topic = 'Window_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1596.666748046875,"y":1597.4167022705078,"wires":[["1f8e145.82c06ec"]]\},\{"id":"e8499d56.594dd8","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var hum3 =  msg.payload;\\nvar hum3_rounded = Math.round(hum3 * 10) / 10;\\nmsg.payload = hum3_rounded;\\nmsg.topic = 'Turtle_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1602.666748046875,"y":1656.4167022705078,"wires":[["1f8e145.82c06ec"]]\},\{"id":"1f8e145.82c06ec","type":"ui_chart","z":"9083aed.7d7c65","name":"","group":"efafd60.ef5d7a8","order":4,"width":"0","height":"0","label":"Humidity RH%","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting Data","dot":false,"ymin":"0","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e90400","#00ff1b","#00fffe","#fdf007","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1852.7333984375,"y":1596.4167022705078,"wires":[[]]\},\{"id":"e0a30920.9f52e","type":"inject","z":"9083aed.7d7c65","name":"ON=9:00AM","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"","x":99,"y":133.5500030517578,"wires":[["8a182cbd.47b028","d779368f.d3581","9ddf87d9.d1b5a8"]]\},\{"id":"b9aee448.23ff3","type":"inject","z":"9083aed.7d7c65","name":"OFF=6:00PM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":"","x":109,"y":174.5500030517578,"wires":[["8a182cbd.47b028","d779368f.d3581","9ddf87d9.d1b5a8"]]\},\{"id":"a11b3639.a6b988","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"Relay_48V","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":561.5,"y":70,"wires":[[]]\},\{"id":"74346acb.a7890c","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"Relay_PUMP","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":569,"y":105,"wires":[[]]\},\{"id":"b04560a6.9c2ac8","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"Relay_ACC1","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":566,"y":139,"wires":[[]]\},\{"id":"b72ce6dc.709a38","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"Relay_ACC2","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":564,"y":173,"wires":[[]]\},\{"id":"c587623e.d03ed","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"Relay_ACC3","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":567,"y":215,"wires":[[]]\},\{"id":"11686f73.81db39","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"LED1digital","param":"topic:payload","productIdOrSlug":"","repeat":0,"once":false,"x":553,"y":259,"wires":[[]]\},\{"id":"8c07075f.1f0a28","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"LED1analog","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":555,"y":334,"wires":[[]]\},\{"id":"5ca9482.4b075b8","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"LED2digital","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":550,"y":372,"wires":[[]]\},\{"id":"49ad332a.8ef624","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","fname":"LED2analog","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":559,"y":452,"wires":[[]]\},\{"id":"d488f91d.99a94","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"R12V_A","productIdOrSlug":"","repeat":0,"once":true,"x":455.5,"y":595,"wires":[["9d553121.6e9568"]]\},\{"id":"3c3d8b7b.df055c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"R48V_A","productIdOrSlug":"","repeat":0,"once":true,"x":459,"y":629,"wires":[["b7eeefd5.8566f8"]]\},\{"id":"dc9c4535.c775c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"total_watts","productIdOrSlug":"","repeat":0,"once":true,"x":467,"y":662,"wires":[["929aeafc.e022e8"]]\},\{"id":"5e0bf2e0.fa0bbc","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"total_amps","productIdOrSlug":"","repeat":0,"once":true,"x":465,"y":699,"wires":[["928dae65.22c35"]]\},\{"id":"1b338847.72e948","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"ph1_data","productIdOrSlug":"","repeat":0,"once":true,"x":459,"y":736,"wires":[["12fab7dd.3666c"]]\},\{"id":"8f23fdc9.4b2908","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"ph2_data","productIdOrSlug":"","repeat":0,"once":true,"x":458,"y":773,"wires":[["c0c2bbd1.450b28"]]\},\{"id":"905f2be8.73d8b8","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"EC1_data","productIdOrSlug":"","repeat":0,"once":true,"x":460,"y":809,"wires":[["fc0b45df.e2ac98"]]\},\{"id":"5961d6a0.f4b048","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"temp1_data","productIdOrSlug":"","repeat":0,"once":true,"x":469,"y":849,"wires":[["39b2f0f5.61d6b"]]\},\{"id":"5a752d8f.3e646c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"CO2","productIdOrSlug":"","repeat":0,"once":true,"x":284,"y":942,"wires":[["3ee99a33.7d410e"]]\},\{"id":"654dd03f.8b3f7","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"TVOC","productIdOrSlug":"","repeat":0,"once":true,"x":285,"y":980,"wires":[["9badc499.31b838"]]\},\{"id":"3ec012e.67c986e","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"baro_temp","productIdOrSlug":"","repeat":0,"once":true,"x":305,"y":1023,"wires":[["85d9da51.4e119","e24fa025.e20cc8"]]\},\{"id":"915b09f8.5ca13","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"baro_RH","productIdOrSlug":"","repeat":0,"once":true,"x":298,"y":1061,"wires":[["499532b0.5fd9e4"]]\},\{"id":"f4b5fcf5.c75138","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"pressure","productIdOrSlug":"","repeat":0,"once":true,"x":296,"y":1104,"wires":[["d508abb9.fe51f"]]\},\{"id":"19c6ba0e.bd2a56","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"ph1_data","productIdOrSlug":"","repeat":0,"once":true,"x":1212,"y":800,"wires":[["abc37d92.2688c8"]]\},\{"id":"5ab31dc5.39dfc4","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"ph2_data","productIdOrSlug":"","repeat":0,"once":true,"x":1213,"y":834,"wires":[["8b08ff28.3d162"]]\},\{"id":"415e5d17.7259ec","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"3c0030000647343232363230","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":false,"x":435.5,"y":1256,"wires":[["f10745a8.ec249"]]\},\{"id":"3a13670.3d2711a","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"3c0030000647343232363230","getvar":"tempf","productIdOrSlug":"","repeat":0,"once":false,"x":426,"y":1298,"wires":[["8333d7db.ed77e","29f22199.2ca1d6"]]\},\{"id":"c207707c.0f991","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"3c0030000647343232363230","getvar":"pascals","productIdOrSlug":"","repeat":0,"once":false,"x":440,"y":1394,"wires":[["ecac8b0d.4c75"]]\},\{"id":"fc40fcef.ca9ea","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":true,"x":433.5,"y":1513,"wires":[["367e9a94.1638d6"]]\},\{"id":"295470c3.ff66a","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"pascals","productIdOrSlug":"","repeat":0,"once":true,"x":441,"y":1550,"wires":[["aaf2be88.43b8e"]]\},\{"id":"62472ab4.ab382c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"watertempf","productIdOrSlug":"","repeat":0,"once":true,"x":425,"y":1635,"wires":[["5e122f6d.a34008","e854c328.70cb2"]]\},\{"id":"a44850f6.2a1068","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"upperThresh","productIdOrSlug":"","repeat":0,"once":true,"x":439,"y":1726,"wires":[["76e9544a.3168bc"]]\},\{"id":"36e21bc9.84d15c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"lowerThresh","productIdOrSlug":"","repeat":0,"once":true,"x":435,"y":1815,"wires":[["31aa987.76dc268"]]\},\{"id":"edb378a7.f749d","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","fname":"setUpThresh","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":731.5,"y":1770,"wires":[[]]\},\{"id":"118096c.cd879e9","type":"particle-func","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","fname":"setLowThresh","param":"topic:param","productIdOrSlug":"","repeat":0,"once":false,"x":732,"y":1876,"wires":[[]]\},\{"id":"7a206ec0.d2bdf","type":"camerapi-takephoto","z":"9083aed.7d7c65","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":515.5,"y":2072,"wires":[["f7025d28.ea7ea"]]\},\{"id":"2aef1b89.abb8ec","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"21003b001347343432313031","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":true,"x":436,"y":1939,"wires":[["5054842f.6a68a4"]]\},\{"id":"c4ce6b2f.4ac16","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"tempf","productIdOrSlug":"","repeat":0,"once":true,"x":430,"y":1976,"wires":[["5bf1f7b6.cd39a"]]\},\{"id":"f6175aed.e3e1b8","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"baro_temp","productIdOrSlug":"","repeat":0,"once":true,"x":1229,"y":1102,"wires":[["f555cd79.0cfd18"]]\},\{"id":"d5894342.b8adf","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"temp1_data","productIdOrSlug":"","repeat":0,"once":true,"x":1228,"y":1226,"wires":[["900cd171.8b35"]]\},\{"id":"a5801fe2.bf6058","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"3c0030000647343232363230","getvar":"tempf","productIdOrSlug":"","repeat":0,"once":false,"x":1235,"y":1145,"wires":[["8ef71a07.b47208"]]\},\{"id":"a3fbf84d.fc6c48","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":true,"x":1318,"y":1652,"wires":[["e8499d56.594dd8"]]\},\{"id":"72a7f616.f1154","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"3c0030000647343232363230","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":false,"x":1311,"y":1604,"wires":[["ba47ecbb.a748c"]]\},\{"id":"5a770cee.c2174c","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"1a0028000147343337373738","getvar":"baro_RH","productIdOrSlug":"","repeat":0,"once":true,"x":1301,"y":1551,"wires":[["887c2773.11d36"]]\},\{"id":"bccbe1d6.ab55f8","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"21003b001347343432313031","getvar":"humidity","productIdOrSlug":"","repeat":0,"once":true,"x":1322,"y":1846,"wires":[["8bff6a23.a64c2"]]\},\{"id":"5711d966.6d2f8","type":"particle-var","z":"9083aed.7d7c65","pcloud":"","devid":"2c0022000a47343432313031","getvar":"tempf","productIdOrSlug":"","repeat":0,"once":true,"x":1314,"y":1892,"wires":[["54354df9.ad52dc"]]\},\{"id":"fed6bf81.36f0d","type":"comment","z":"9083aed.7d7c65","name":"Terrarium Chart","info":"","x":1136,"y":1761,"wires":[]\},\{"id":"c0688828.061ba8","type":"inject","z":"9083aed.7d7c65","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":1143,"y":1798,"wires":[["bccbe1d6.ab55f8","5711d966.6d2f8"]]\},\{"id":"8bff6a23.a64c2","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var hum1 =  msg.payload;\\nvar hum1_rounded = Math.round(hum1 * 10) / 10;\\nmsg.payload = hum1_rounded;\\nmsg.topic = 'RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1611,"y":1840,"wires":[["2c7461cb.ff9686"]]\},\{"id":"54354df9.ad52dc","type":"function","z":"9083aed.7d7c65","name":"Decimal Rounding","func":"var hum1 =  msg.payload;\\nvar hum1_rounded = Math.round(hum1 * 10) / 10;\\nmsg.payload = hum1_rounded;\\nmsg.topic = 'TempF';\\nreturn msg;","outputs":1,"noerr":0,"x":1609,"y":1893,"wires":[["2c7461cb.ff9686"]]\},\{"id":"2c7461cb.ff9686","type":"ui_chart","z":"9083aed.7d7c65","name":"","group":"fbc7d556.c678f8","order":4,"width":"0","height":"0","label":"Temp & RH","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting Data","dot":false,"ymin":"40","ymax":"120","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00e9d7","#ff9d00","#06ff00","#fdf007","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1802,"y":1856,"wires":[[]]\},\{"id":"8820f383.d16eb8","type":"ui_group","z":"","name":"Total System Power","tab":"77497c93.8e7b04","order":7,"disp":true,"width":"6","collapse":true\},\{"id":"74eddf46.09d528","type":"ui_group","z":"","name":"Lights","tab":"77497c93.8e7b04","order":6,"disp":true,"width":"6","collapse":false\},\{"id":"309af12b.fdb71e","type":"ui_group","z":"","name":"Relays","tab":"77497c93.8e7b04","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"972a0efd.72026","type":"ui_group","z":"","name":"Grow Room Window","tab":"77497c93.8e7b04","order":4,"disp":true,"width":"6","collapse":false\},\{"id":"d42c6a29.41408","type":"ui_group","z":"","name":"Turtle Tank","tab":"b690cc01.6b0bd","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"b964908b.022778","type":"ui_group","z":"","name":"Turtle Tank Alarm","tab":"b690cc01.6b0bd","order":8,"disp":true,"width":"6","collapse":false\},\{"id":"5304ccf4.92a754","type":"ui_group","z":"","name":"Camera","tab":"77497c93.8e7b04","order":1,"disp":true,"width":"6","collapse":false\},\{"id":"d4cadbe1.18048","type":"ui_group","z":"","name":"Water Quality","tab":"77497c93.8e7b04","order":3,"disp":true,"width":"6","collapse":false\},\{"id":"fbc7d556.c678f8","type":"ui_group","z":"","name":"Terrarium","tab":"e7817901.a3c6a8","order":10,"disp":true,"width":"6","collapse":false\},\{"id":"39436dfd.61325a","type":"ui_group","z":"","name":"Canopy: Top","tab":"77497c93.8e7b04","order":2,"disp":true,"width":"6","collapse":false\},\{"id":"a06af150.02b108","type":"ui_group","z":"","name":"pH 24hr Timeline","tab":"77497c93.8e7b04","disp":true,"width":"6","collapse":false\},\{"id":"67576e20.47a1b8","type":"ui_group","z":"","name":"Temperature 24hr Timeline","tab":"77497c93.8e7b04","disp":true,"width":"6","collapse":false\},\{"id":"efafd60.ef5d7a8","type":"ui_group","z":"","name":"RH 24hr Timeline","tab":"77497c93.8e7b04","disp":true,"width":"6","collapse":false\},\{"id":"77497c93.8e7b04","type":"ui_tab","z":"","name":"Hydroponics Grow Room","icon":"fa-leaf","order":1\},\{"id":"b690cc01.6b0bd","type":"ui_tab","z":"","name":"Turtle Tank","icon":"fa-tint ","order":2\},\{"id":"e7817901.a3c6a8","type":"ui_tab","z":"","name":"Terrarium","icon":"fa-cloud","order":3\}]}