Firmware/Node-Red_Flows/Grove_Openponics_V1.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"21bca72b.0c7678","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_48V","param":"","once":false,"repeat":"0","consolelog":false,"x":541,"y":88,"wires":[[]]\},\{"id":"725b4094.4ae228","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":142.99998474121094,"y":692.0000610351562,"wires":[["6d97d3a5.b2e51c","c1bb59d1.70fa3","94d9b6aa.c1f15","ad577c1f.fcd91","bfa69ee8.32fc5","ff0d07b6.9cd72","a972dee1.b74fa8","eadc111c.91d808","673232d1.75a264","6e6a482a.9d8be","7eea756a.756cc4","256b6a6c.f40be6","8a78f616.904058"]]\},\{"id":"5d59095e.5dfd58","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_PUMP","param":"","once":false,"repeat":"0","consolelog":false,"x":545.5,"y":129,"wires":[[]]\},\{"id":"4cece183.3ec978","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC1","param":"","once":false,"repeat":"0","consolelog":false,"x":544,"y":162,"wires":[[]]\},\{"id":"4aecd0ee.1eeee8","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC2","param":"","once":false,"repeat":"0","consolelog":false,"x":545.5,"y":200,"wires":[[]]\},\{"id":"af640ef9.a126b","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC3","param":"","once":false,"repeat":"0","consolelog":false,"x":546.5,"y":238,"wires":[[]]\},\{"id":"6d97d3a5.b2e51c","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"total_watts","once":true,"repeat":0,"consolelog":false,"x":426,"y":694.0000305175781,"wires":[["c66a81aa.fa789"]]\},\{"id":"c66a81aa.fa789","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Wattage AC","label":"Watts","format":"\{\{value | number:2\}\}","min":0,"max":"500","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":730.5,"y":691.0000610351562,"wires":[]\},\{"id":"c1bb59d1.70fa3","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"total_amps","once":true,"repeat":0,"consolelog":false,"x":429,"y":730.0000610351562,"wires":[["b70bfdeb.cb0d68"]]\},\{"id":"b70bfdeb.cb0d68","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Current AC","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#0bb500","#e6e100","#ca000f"],"seg1":"","seg2":"","x":718.5,"y":730.0000610351562,"wires":[]\},\{"id":"8ae5bf70.9e0168","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED1digital","param":"","once":false,"repeat":"0","consolelog":false,"x":544,"y":277,"wires":[[]]\},\{"id":"2fb2dc71.56a784","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED2digital","param":"","once":false,"repeat":"0","consolelog":false,"x":507,"y":401,"wires":[[]]\},\{"id":"776c141e.5b69c4","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED1analog","param":"","once":false,"repeat":"0","consolelog":false,"x":506,"y":360,"wires":[[]]\},\{"id":"1589df41.d1d8c1","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED2analog","param":"","once":false,"repeat":"0","consolelog":false,"x":544,"y":481.0000305175781,"wires":[["51791b48.246b8c"]]\},\{"id":"51791b48.246b8c","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":727,"y":440.0000305175781,"wires":[]\},\{"id":"1c09dd3b.ea78a3","type":"ui_slider","z":"a51cee2e.de88a","name":"","label":"","tooltip":"","group":"73e6650c.e9befc","order":2,"width":"4","height":"1","passthru":false,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":628.5,"y":321,"wires":[["776c141e.5b69c4"]]\},\{"id":"f0f9fd72.f24c18","type":"ui_slider","z":"a51cee2e.de88a","name":"","label":"","tooltip":"","group":"73e6650c.e9befc","order":4,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":557,"y":437.0000305175781,"wires":[["1589df41.d1d8c1"]]\},\{"id":"cb764368.675dc8","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"48V","tooltip":"","group":"ddcb4f96.e3892","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-bolt","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-bolt","offcolor":"grey","x":268.5,"y":93,"wires":[["21bca72b.0c7678"]]\},\{"id":"49bc9382.9291d4","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"PUMP","tooltip":"","group":"ddcb4f96.e3892","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-tint ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-tint","offcolor":"grey","x":264.99998474121094,"y":127,"wires":[["5d59095e.5dfd58"]]\},\{"id":"48419e6c.e8f198","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"FAN2","tooltip":"","group":"ddcb4f96.e3892","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":266.00001525878906,"y":198,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"e411b665.43ddf8","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"CASE_FAN","tooltip":"","group":"ddcb4f96.e3892","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":249.99998474121094,"y":237,"wires":[["af640ef9.a126b"]]\},\{"id":"b0bf95d9.8bf55","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"LED2","tooltip":"","group":"73e6650c.e9befc","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":251.99996948242188,"y":457.0000305175781,"wires":[["2fb2dc71.56a784","a317bd3f.f0d0c8"]]\},\{"id":"580965de.8a1ba4","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"LED1","tooltip":"","group":"73e6650c.e9befc","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":266.00001525878906,"y":278,"wires":[["8ae5bf70.9e0168","6a93e493.104d84"]]\},\{"id":"a317bd3f.f0d0c8","type":"function","z":"a51cee2e.de88a","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":405.8333740234375,"y":436.1667175292969,"wires":[["f0f9fd72.f24c18"]]\},\{"id":"6a93e493.104d84","type":"function","z":"a51cee2e.de88a","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":321,"wires":[["1c09dd3b.ea78a3"]]\},\{"id":"2e463194.7a1d36","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"humidity","once":true,"repeat":0,"consolelog":false,"x":401,"y":1275.9999389648438,"wires":[["fa75da91.5b9068"]]\},\{"id":"74e92351.76c634","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":114,"y":1276.9999389648438,"wires":[["2e463194.7a1d36","c185ade5.78d7e8","188d66f7.112331"]]\},\{"id":"fa75da91.5b9068","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":671,"y":1276.9999389648438,"wires":[]\},\{"id":"c185ade5.78d7e8","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"tempf","once":true,"repeat":0,"consolelog":false,"x":394,"y":1319.9999389648438,"wires":[["e5c4a1cc.3982f8","ce71fe3b.71745"]]\},\{"id":"584cf8b9.e9fac8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":1,"width":"3","height":"2","gtype":"gage","title":"Comp Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":879,"y":1376.9999389648438,"wires":[]\},\{"id":"e5c4a1cc.3982f8","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":489.5,"y":1373.9999389648438,"wires":[["a98f460d.7a52b"]]\},\{"id":"a98f460d.7a52b","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":2,"width":"3","height":"2","gtype":"gage","title":"Actual Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":688,"y":1373.9999389648438,"wires":[]\},\{"id":"188d66f7.112331","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"pascals","once":true,"repeat":0,"consolelog":false,"x":387,"y":1412,"wires":[["9e52d7e5.6de2e"]]\},\{"id":"9e52d7e5.6de2e","type":"function","z":"a51cee2e.de88a","name":"inHg Conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":487,"y":1458,"wires":[["bdaf4ed8.52ea08"]]\},\{"id":"bdaf4ed8.52ea08","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":662,"y":1437,"wires":[]\},\{"id":"ee54d216.2ac9c","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"humidity","once":true,"repeat":0,"consolelog":false,"x":409.0000457763672,"y":1535.000015258789,"wires":[["b922dc93.ba2cd8"]]\},\{"id":"b0bcd2a.c03903","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":122.00004577636719,"y":1536.000015258789,"wires":[["ee54d216.2ac9c","6cdeee6f.6ee188","2360149.c938eec","3f62622d.0e670e","88dbdeaf.4868e"]]\},\{"id":"b922dc93.ba2cd8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":679.0000457763672,"y":1536.000015258789,"wires":[]\},\{"id":"6cdeee6f.6ee188","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"pascals","once":true,"repeat":0,"consolelog":false,"x":406.00006103515625,"y":1574.000015258789,"wires":[["f99ae5b5.5811c8"]]\},\{"id":"f99ae5b5.5811c8","type":"function","z":"a51cee2e.de88a","name":"inHg conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":500.0000305175781,"y":1619.000015258789,"wires":[["1f9d0a92.2d0bfd"]]\},\{"id":"1f9d0a92.2d0bfd","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":670.0000305175781,"y":1617.000015258789,"wires":[]\},\{"id":"2360149.c938eec","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"watertempF","once":true,"repeat":0,"consolelog":false,"x":402.00006103515625,"y":1658.000015258789,"wires":[["72b699d4.4b1478","dc0a4af7.e822"]]\},\{"id":"72b699d4.4b1478","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":1,"width":"3","height":"2","gtype":"gage","title":"Water Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":710.0000305175781,"y":1659.000015258789,"wires":[]\},\{"id":"c2e46668.b78d68","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":2,"width":"3","height":"2","gtype":"gage","title":"Water Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":695.0000305175781,"y":1702.000015258789,"wires":[]\},\{"id":"3f62622d.0e670e","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"upperThresh","once":true,"repeat":0,"consolelog":false,"x":405.0000305175781,"y":1751.000015258789,"wires":[["b74ee632.f1dfd8"]]\},\{"id":"88dbdeaf.4868e","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"lowerThresh","once":true,"repeat":0,"consolelog":false,"x":396.0000305175781,"y":1838.000015258789,"wires":[["78dc2bfb.f1ca0c"]]\},\{"id":"b74ee632.f1dfd8","type":"ui_numeric","z":"a51cee2e.de88a","name":"","label":"Set Upper Threshold","tooltip":"","group":"64b9cd8d.77e3a4","order":1,"width":"0","height":"0","passthru":true,"topic":"","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":709.5000305175781,"y":1751.000015258789,"wires":[["9e619b30.88c13"]]\},\{"id":"78dc2bfb.f1ca0c","type":"ui_numeric","z":"a51cee2e.de88a","name":"","label":"Set Lower Threshold","tooltip":"","group":"64b9cd8d.77e3a4","order":2,"width":"0","height":"0","passthru":true,"topic":"","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":706.0000305175781,"y":1837.000015258789,"wires":[["e0ce5ec7.aeb6e8"]]\},\{"id":"dc0a4af7.e822","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":493.0000305175781,"y":1701.000015258789,"wires":[["c2e46668.b78d68"]]\},\{"id":"9e619b30.88c13","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","fname":"setUpThresh","param":"","once":false,"repeat":0,"consolelog":false,"x":613.5000305175781,"y":1798.000015258789,"wires":[[]]\},\{"id":"e0ce5ec7.aeb6e8","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","fname":"setLowThresh","param":"","once":false,"repeat":0,"consolelog":false,"x":605.0000305175781,"y":1887.000015258789,"wires":[[]]\},\{"id":"d0c13c79.db6838","type":"camerapi-takephoto","z":"a51cee2e.de88a","filemode":"1","filename":"photo1.jpg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Photo","x":466.5,"y":2099,"wires":[["4a798a29.89357c"]]\},\{"id":"3709a7bc.e5e3b8","type":"ui_template","z":"a51cee2e.de88a","group":"8e15be2b.d24d1","name":"","order":6,"width":0,"height":0,"format":"<script>\\nvar value = \\"1\\";\\n// or overwrite value in your callback function ...\\nthis.scope.action = function() \{ return value; \}\\n\\nfunction updateF() \{\\n  var source = '/photo1.jpg',\\n  timestamp = (new Date()).getTime(),\\n  newUrl = source + '?_=' + timestamp;\\n  document.getElementById(\\"photo\\").src = newUrl;\\n\}\\n</script>\\n\\n<md-button ng-click=\\"send(\{payload:action()\})\\" onclick=\\"setTimeout(updateF, 2500);\\" style=\\"padding:10px; margin-bottom: 10px;\\" >\\n <ui-icon icon=\\"camera\\"></ui-icon>\\n Take A Photo<br>\\n</md-button>\\n\\n<div style=\\"margin-bottom:40px;\\">\\n <img src=\\"/photo1.jpg\\" id=\\"photo\\" width=\\"100%\\" height=\\"100%\\">\\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":313.5,"y":2100,"wires":[["d0c13c79.db6838"]]\},\{"id":"4a798a29.89357c","type":"debug","z":"a51cee2e.de88a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":631.5,"y":2100,"wires":[]\},\{"id":"db6fd299.985fa","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"1","x":147,"y":2102,"wires":[["3709a7bc.e5e3b8"]]\},\{"id":"3d9a58ef.db6fe8","type":"inject","z":"a51cee2e.de88a","name":"ON=7:00AM","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":"","x":100,"y":371,"wires":[["580965de.8a1ba4","b0bf95d9.8bf55"]]\},\{"id":"4d3dd12d.5874e8","type":"inject","z":"a51cee2e.de88a","name":"OFF=7:00PM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","x":110,"y":411,"wires":[["580965de.8a1ba4","b0bf95d9.8bf55"]]\},\{"id":"282aee1d.caa7e2","type":"comment","z":"a51cee2e.de88a","name":"Turn on/off at specific times","info":"","x":139,"y":325.9999694824219,"wires":[]\},\{"id":"5707a87c.43e888","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"d453daaa.3cb028","order":1,"width":"3","height":"2","gtype":"gage","title":"pH_1","label":"potential Hydrogen ","format":"\{\{value | number:2\}\}","min":0,"max":"14","colors":["#f60a0f","#ffe904","#00a7ca"],"seg1":"","seg2":"","x":692,"y":763.5,"wires":[]\},\{"id":"94d9b6aa.c1f15","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"ph1_data","once":true,"repeat":0,"consolelog":false,"x":423,"y":767.5,"wires":[["5707a87c.43e888"]]\},\{"id":"ada5e4f4.639e98","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"21003b001347343432313031","getvar":"humidity","once":true,"repeat":0,"consolelog":false,"x":423.45001220703125,"y":1952.449951171875,"wires":[["d0ce7ef3.bd84b8"]]\},\{"id":"b8c4da97.73009","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":138.4499969482422,"y":1955.449951171875,"wires":[["ada5e4f4.639e98","918f224f.18e4b"]]\},\{"id":"6cd2b0f8.12d38","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"b6f2dd87.313dc","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":703.4500122070312,"y":2007.449951171875,"wires":[]\},\{"id":"d0ce7ef3.bd84b8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"b6f2dd87.313dc","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":682.4500122070312,"y":1960.449951171875,"wires":[]\},\{"id":"918f224f.18e4b","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"21003b001347343432313031","getvar":"tempf","once":true,"repeat":0,"consolelog":false,"x":421.45001220703125,"y":2000.449951171875,"wires":[["6cd2b0f8.12d38"]]\},\{"id":"a3c09d39.91ad68","type":"comment","z":"a51cee2e.de88a","name":"Turtle Tank","info":"","x":81.4000244140625,"y":1491.25,"wires":[]\},\{"id":"9d0a50cc.ee80a8","type":"comment","z":"a51cee2e.de88a","name":"RasPi Node-Red Server Camera","info":"","x":163.39999389648438,"y":2052.249984741211,"wires":[]\},\{"id":"4af40e9e.14fb08","type":"comment","z":"a51cee2e.de88a","name":"Terrarium","info":"","x":98.44999694824219,"y":1901.449951171875,"wires":[]\},\{"id":"dcb7b520.90253","type":"comment","z":"a51cee2e.de88a","name":"Window Weather","info":"","x":87.44999694824219,"y":1231.5499267578125,"wires":[]\},\{"id":"c79692fb.66134","type":"comment","z":"a51cee2e.de88a","name":"Grove Motherboard Functions","info":"","x":149.14999389648438,"y":43.44999694824219,"wires":[]\},\{"id":"9753c7d7.04e38","type":"comment","z":"a51cee2e.de88a","name":"Grove Motherboard Variables","info":"","x":132.64999389648438,"y":581.6500854492188,"wires":[]\},\{"id":"ad577c1f.fcd91","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"ph2_data","once":true,"repeat":0,"consolelog":false,"x":423.45001220703125,"y":804.7500610351562,"wires":[["db0f192d.eb292"]]\},\{"id":"bfa69ee8.32fc5","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"EC1_data","once":true,"repeat":0,"consolelog":false,"x":424.45001220703125,"y":841.7500610351562,"wires":[["e75e3c78.90d8a"]]\},\{"id":"ff0d07b6.9cd72","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"temp1_data","once":true,"repeat":0,"consolelog":false,"x":404.45001220703125,"y":881.7500610351562,"wires":[["8b40a072.042cd"]]\},\{"id":"db0f192d.eb292","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"d453daaa.3cb028","order":2,"width":"3","height":"2","gtype":"gage","title":"pH_2","label":"potential Hydrogen ","format":"\{\{value | number:2\}\}","min":0,"max":"14","colors":["#f60a0f","#ffe904","#00a7ca"],"seg1":"","seg2":"","x":690.449951171875,"y":804.7500610351562,"wires":[]\},\{"id":"e75e3c78.90d8a","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"d453daaa.3cb028","order":4,"width":"3","height":"2","gtype":"gage","title":"EC_1","label":"PPM","format":"\{\{value | number:2\}\}","min":0,"max":"14","colors":["#f6e813","#0fff28","#000bca"],"seg1":"","seg2":"","x":692.449951171875,"y":841.7500610351562,"wires":[]\},\{"id":"a19e122b.477dc8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"d453daaa.3cb028","order":3,"width":"3","height":"2","gtype":"gage","title":"H2O Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":731.449951171875,"y":882.8500366210938,"wires":[]\},\{"id":"8b40a072.042cd","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Conversion","func":" var tempc = msg.payload;\\n var tempf = (tempc * 9/5) + 32;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":592.449951171875,"y":927.8500366210938,"wires":[["a19e122b.477dc8"]]\},\{"id":"a972dee1.b74fa8","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"CO2","once":true,"repeat":0,"consolelog":false,"x":256.45001220703125,"y":967.1499633789062,"wires":[["f32a8f62.185d"]]\},\{"id":"eadc111c.91d808","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"TVOC","once":true,"repeat":0,"consolelog":false,"x":258.45001220703125,"y":1009.1499633789062,"wires":[["96ebc0d3.2a4bb"]]\},\{"id":"f32a8f62.185d","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":1,"width":"3","height":"2","gtype":"gage","title":"CO2","label":"PPM","format":"\{\{value | number:2\}\}","min":"400","max":"2000","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":542.449951171875,"y":965.1499633789062,"wires":[]\},\{"id":"96ebc0d3.2a4bb","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":1,"width":"3","height":"2","gtype":"gage","title":"TVOC","label":"PPM","format":"\{\{value | number:2\}\}","min":"0","max":"2000","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":540.449951171875,"y":1010.1499633789062,"wires":[]\},\{"id":"673232d1.75a264","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"baro_temp","once":true,"repeat":0,"consolelog":false,"x":279.8500061035156,"y":1050.949951171875,"wires":[["827eceab.fd7448","305e09a7.4536de"]]\},\{"id":"6e6a482a.9d8be","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"baro_RH","once":true,"repeat":0,"consolelog":false,"x":269.8500061035156,"y":1091.9498901367188,"wires":[["b4b2bf98.edae7"]]\},\{"id":"7eea756a.756cc4","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"pressure","once":true,"repeat":0,"consolelog":false,"x":270.8500061035156,"y":1135.949951171875,"wires":[["6b71fb87.60ad5c"]]\},\{"id":"6b71fb87.60ad5c","type":"function","z":"a51cee2e.de88a","name":"inHg Conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":559.4500122070312,"y":1133.75,"wires":[["8c82fd1e.81ae1"]]\},\{"id":"9fbe2a7c.824d4","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":1,"width":"3","height":"2","gtype":"gage","title":"Comp Temp \'b0F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":755.4500122070312,"y":1091.75,"wires":[]\},\{"id":"b4b2bf98.edae7","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":547.4500122070312,"y":1090.75,"wires":[]\},\{"id":"8c82fd1e.81ae1","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":740.4500122070312,"y":1130.75,"wires":[]\},\{"id":"827eceab.fd7448","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Conversion & Compensation","func":" var tempc = msg.payload;\\n var tempf = ((tempc * 9/5) + 32) - 9.92;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":643.4500122070312,"y":1048.8499755859375,"wires":[["9fbe2a7c.824d4"]]\},\{"id":"305e09a7.4536de","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"f05b5482.92bba","order":2,"width":"3","height":"2","gtype":"gage","title":"Actual Temp \'b0C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":734.4500122070312,"y":1010.8499755859375,"wires":[]\},\{"id":"ce71fe3b.71745","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Compensation","func":" var tempf = msg.payload;\\n var tempf_comp = tempf - 9.92;\\n    msg.payload = tempf_comp;\\n    return msg;","outputs":1,"noerr":0,"x":737.4500122070312,"y":1323.4498901367188,"wires":[["584cf8b9.e9fac8"]]\},\{"id":"2caaad19.780bd2","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"ph1_data","once":true,"repeat":0,"consolelog":false,"x":1163.550048828125,"y":819.8499755859375,"wires":[["6f48af2b.06d01"]]\},\{"id":"ce30a1e2.e7d94","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":972.9500122070312,"y":768.25,"wires":[["2caaad19.780bd2","81c0a3db.8db708"]]\},\{"id":"5ba23d5b.49a2a4","type":"ui_chart","z":"a51cee2e.de88a","name":"","group":"f8e9e76d.134ac8","order":4,"width":0,"height":0,"label":"pH","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting pH Data","dot":false,"ymin":"3","ymax":"10","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#e8d900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1463.3998413085938,"y":843.9500732421875,"wires":[[],[]]\},\{"id":"6f48af2b.06d01","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var ph1 =  msg.payload;\\nvar ph1_rounded = Math.round(ph1 * 10) / 10;\\nmsg.payload = ph1_rounded;\\nmsg.topic = 'pH1';\\nreturn msg;","outputs":1,"noerr":0,"x":1238.9500122070312,"y":772.9500122070312,"wires":[["5ba23d5b.49a2a4"]]\},\{"id":"81c0a3db.8db708","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"ph2_data","once":true,"repeat":0,"consolelog":false,"x":1165.9500122070312,"y":855.9500122070312,"wires":[["527ad95c.e3a728"]]\},\{"id":"527ad95c.e3a728","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var ph2 =  msg.payload;\\nvar ph2_rounded = Math.round(ph2 * 10) / 10;\\nmsg.payload = ph2_rounded;\\nmsg.topic = 'pH2';\\nreturn msg;","outputs":1,"noerr":0,"x":1261.9500122070312,"y":903.9500122070312,"wires":[["5ba23d5b.49a2a4"]]\},\{"id":"4abe351.712534c","type":"inject","z":"a51cee2e.de88a","name":"Clear Chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1008.3500366210938,"y":733.3499755859375,"wires":[["cc5ef7b3.7baf2"]]\},\{"id":"cc5ef7b3.7baf2","type":"function","z":"a51cee2e.de88a","name":"Send blank payload","func":"msg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":1239.3501586914062,"y":730.3499755859375,"wires":[["5ba23d5b.49a2a4"]]\},\{"id":"48218ebb.dbce2","type":"comment","z":"a51cee2e.de88a","name":"pH Chart","info":"","x":1014.449951171875,"y":689.8499755859375,"wires":[]\},\{"id":"e4766d02.8c80a8","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"FAN1","tooltip":"","group":"ddcb4f96.e3892","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":266.4499969482422,"y":161.0500030517578,"wires":[["4cece183.3ec978"]]\},\{"id":"c00af547.df173","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":981.3498840332031,"y":1080.0501098632812,"wires":[["ff6a5673.c59098","c9b10089.6a03f","e9afb690.f1faf"]]\},\{"id":"c6e605b5.bed138","type":"ui_chart","z":"a51cee2e.de88a","name":"","group":"44bc554a.abeeb4","order":4,"width":"0","height":"0","label":"Room Temp F","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting pH Data","dot":false,"ymin":"30","ymax":"90","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e90400","#00ff1b","#00fffe","#fdf007","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1518.7997436523438,"y":1156.7501220703125,"wires":[[],[]]\},\{"id":"d1614ba5.e8789","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var temp1 =  msg.payload;\\nvar temp1_rounded = Math.round(temp1 * 10) / 10;\\nmsg.payload = temp1_rounded;\\nmsg.topic = 'Room Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1518.349853515625,"y":1110.75,"wires":[["c6e605b5.bed138"]]\},\{"id":"b329ae8f.d734b8","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var temp2 =  msg.payload;\\nvar temp2_rounded = Math.round(temp2 * 10) / 10;\\nmsg.payload = temp2_rounded;\\nmsg.topic = 'Window_Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1294.349853515625,"y":1209.7500610351562,"wires":[["c6e605b5.bed138"]]\},\{"id":"af0770c5.98a468","type":"inject","z":"a51cee2e.de88a","name":"Clear Chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1079.75,"y":1329.150146484375,"wires":[["e4112049.d84548"]]\},\{"id":"e4112049.d84548","type":"function","z":"a51cee2e.de88a","name":"Send blank payload","func":"msg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":1281.7499389648438,"y":1330.150146484375,"wires":[["c6e605b5.bed138"]]\},\{"id":"9b850625.907988","type":"comment","z":"a51cee2e.de88a","name":"Room Temp Chart","info":"","x":1048.8499145507812,"y":1032.6500854492188,"wires":[]\},\{"id":"bb9ce52d.b0b03","type":"comment","z":"a51cee2e.de88a","name":"CCS811/BME280 Combo","info":"","x":280.4499969482422,"y":930.75,"wires":[]\},\{"id":"ebf6f5bd.7eef38","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Conversion & Compensation","func":" var tempc = msg.payload;\\n var tempf = ((tempc * 9/5) + 32) - 9.92;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":1281.25,"y":1072.8499145507812,"wires":[["d1614ba5.e8789"]]\},\{"id":"ff6a5673.c59098","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"baro_temp","once":true,"repeat":0,"consolelog":false,"x":1186.1500244140625,"y":1131.3499145507812,"wires":[["ebf6f5bd.7eef38"]]\},\{"id":"c9b10089.6a03f","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"tempf","once":true,"repeat":0,"consolelog":false,"x":1168.3499755859375,"y":1165.5501098632812,"wires":[["ece80a00.c17208"]]\},\{"id":"ece80a00.c17208","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Compensation","func":" var tempf = msg.payload;\\n var tempf_comp = tempf - 9.92;\\n    msg.payload = tempf_comp;\\n    return msg;","outputs":1,"noerr":0,"x":1070.800048828125,"y":1211.0000610351562,"wires":[["b329ae8f.d734b8"]]\},\{"id":"256b6a6c.f40be6","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R48V_A","once":true,"repeat":0,"consolelog":false,"x":417.45001220703125,"y":658.1500244140625,"wires":[["eba50787.0a5a3"]]\},\{"id":"8a78f616.904058","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R12V_A","once":true,"repeat":0,"consolelog":false,"x":417.45001220703125,"y":621.1500244140625,"wires":[["b8fffb33.cfe42","34dbee8b.b82d42"]]\},\{"id":"eba50787.0a5a3","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"48V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":710.4500122070312,"y":654.4500122070312,"wires":[]\},\{"id":"b8fffb33.cfe42","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"12V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":710.4500122070312,"y":618.4500122070312,"wires":[]\},\{"id":"e9afb690.f1faf","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"temp1_data","once":true,"repeat":0,"consolelog":false,"x":1161.6500244140625,"y":1249.3499755859375,"wires":[["8b498ff7.94e0b8"]]\},\{"id":"8b498ff7.94e0b8","type":"function","z":"a51cee2e.de88a","name":"Fahrenheit Conversion","func":" var tempc = msg.payload;\\n var tempf = (tempc * 9/5) + 32;\\n    msg.payload = tempf;\\n    return msg;","outputs":1,"noerr":0,"x":1100.6498413085938,"y":1290.3499755859375,"wires":[["fe8e5759.534a58"]]\},\{"id":"fe8e5759.534a58","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var temp3 =  msg.payload;\\nvar temp3_rounded = Math.round(temp3 * 10) / 10;\\nmsg.payload = temp3_rounded;\\nmsg.topic = 'Water_Temp';\\nreturn msg;","outputs":1,"noerr":0,"x":1311.9498901367188,"y":1290.8499755859375,"wires":[["c6e605b5.bed138"]]\},\{"id":"c6d5f88d.820758","type":"comment","z":"a51cee2e.de88a","name":"Humidity Chart","info":"","x":1123.75,"y":1472.5501098632812,"wires":[]\},\{"id":"5927c877.266dc8","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":1129.75,"y":1522.550048828125,"wires":[["c6b0147b.95d838","2f18dc9.f83ab24","21c3c072.935f58"]]\},\{"id":"c6b0147b.95d838","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"baro_RH","once":true,"repeat":0,"consolelog":false,"x":1283.3499755859375,"y":1569.3499755859375,"wires":[["8ce4e2e0.f511a8"]]\},\{"id":"2f18dc9.f83ab24","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"humidity","once":true,"repeat":0,"consolelog":false,"x":1286.1500244140625,"y":1619.449951171875,"wires":[["ea527e6e.e4e518"]]\},\{"id":"21c3c072.935f58","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"humidity","once":true,"repeat":0,"consolelog":false,"x":1293.050048828125,"y":1679.6500244140625,"wires":[["16d3919f.091466"]]\},\{"id":"8ce4e2e0.f511a8","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var hum1 =  msg.payload;\\nvar hum1_rounded = Math.round(hum1 * 10) / 10;\\nmsg.payload = hum1_rounded;\\nmsg.topic = 'Room_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1569.4666748046875,"y":1567.6666259765625,"wires":[["23f7e821.28a628"]]\},\{"id":"ea527e6e.e4e518","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var hum2 =  msg.payload;\\nvar hum2_rounded = Math.round(hum2 * 10) / 10;\\nmsg.payload = hum2_rounded;\\nmsg.topic = 'Window_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1572.666748046875,"y":1620.86669921875,"wires":[["23f7e821.28a628"]]\},\{"id":"16d3919f.091466","type":"function","z":"a51cee2e.de88a","name":"Decimal Rounding","func":"var hum3 =  msg.payload;\\nvar hum3_rounded = Math.round(hum3 * 10) / 10;\\nmsg.payload = hum3_rounded;\\nmsg.topic = 'Turtle_RH';\\nreturn msg;","outputs":1,"noerr":0,"x":1578.666748046875,"y":1679.86669921875,"wires":[["23f7e821.28a628"]]\},\{"id":"23f7e821.28a628","type":"ui_chart","z":"a51cee2e.de88a","name":"","group":"10630a47.3bf156","order":4,"width":"0","height":"0","label":"Humidity RH%","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Awaiting Data","dot":false,"ymin":"0","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e90400","#00ff1b","#00fffe","#fdf007","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1828.7333984375,"y":1619.86669921875,"wires":[[],[]]\},\{"id":"34dbee8b.b82d42","type":"debug","z":"a51cee2e.de88a","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":710,"y":566,"wires":[]\},\{"id":"65e8add5.54d8cc","type":"inject","z":"a51cee2e.de88a","name":"ON=11:00AM","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":"","x":85,"y":157,"wires":[["e4766d02.8c80a8","48419e6c.e8f198","e411b665.43ddf8","49bc9382.9291d4"]]\},\{"id":"ce4eda5a.ab5458","type":"inject","z":"a51cee2e.de88a","name":"OFF=5:00PM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","x":85,"y":198,"wires":[["e4766d02.8c80a8","48419e6c.e8f198","e411b665.43ddf8"]]\},\{"id":"13dee9a2.490f26","type":"inject","z":"a51cee2e.de88a","name":"OFF=NOON","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","x":76,"y":114,"wires":[["49bc9382.9291d4"]]\},\{"id":"aef0b055.df04d8","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"17eca6cd5930b921751370f8de980dfe3f59c2ac","name":"Particle.io"\},\{"id":"325976b0.bd865a","type":"ui_group","z":"","name":"Total System Power","tab":"73b776d0.c1e4f","order":7,"disp":true,"width":"6","collapse":true\},\{"id":"73e6650c.e9befc","type":"ui_group","z":"","name":"Lights","tab":"73b776d0.c1e4f","order":6,"disp":true,"width":"6","collapse":false\},\{"id":"ddcb4f96.e3892","type":"ui_group","z":"","name":"Relays","tab":"73b776d0.c1e4f","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"43ae66c6.8c5f4","type":"ui_group","z":"","name":"Grow Room Window","tab":"73b776d0.c1e4f","order":4,"disp":true,"width":"6","collapse":false\},\{"id":"173d4775.5c0819","type":"ui_group","z":"","name":"Turtle Tank","tab":"7975db79.e5140c","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"64b9cd8d.77e3a4","type":"ui_group","z":"","name":"Turtle Tank Alarm","tab":"7975db79.e5140c","order":8,"disp":true,"width":"6","collapse":false\},\{"id":"8e15be2b.d24d1","type":"ui_group","z":"","name":"Camera","tab":"73b776d0.c1e4f","order":1,"disp":true,"width":"6","collapse":false\},\{"id":"d453daaa.3cb028","type":"ui_group","z":"","name":"Water Quality","tab":"73b776d0.c1e4f","order":3,"disp":true,"width":"6","collapse":false\},\{"id":"b6f2dd87.313dc","type":"ui_group","z":"","name":"Terrarium","tab":"883b8e2d.ae26f","order":10,"disp":true,"width":"6","collapse":false\},\{"id":"f05b5482.92bba","type":"ui_group","z":"","name":"Canopy: Top","tab":"73b776d0.c1e4f","order":2,"disp":true,"width":"6","collapse":false\},\{"id":"f8e9e76d.134ac8","type":"ui_group","z":"","name":"pH 24hr Timeline","tab":"73b776d0.c1e4f","disp":true,"width":"6","collapse":false\},\{"id":"44bc554a.abeeb4","type":"ui_group","z":"","name":"Temperature 24hr Timeline","tab":"73b776d0.c1e4f","disp":true,"width":"6","collapse":false\},\{"id":"10630a47.3bf156","type":"ui_group","z":"","name":"RH 24hr Timeline","tab":"73b776d0.c1e4f","disp":true,"width":"6","collapse":false\},\{"id":"73b776d0.c1e4f","type":"ui_tab","z":"","name":"Hydroponics Grow Room","icon":"fa-leaf","order":1\},\{"id":"7975db79.e5140c","type":"ui_tab","z":"","name":"Turtle Tank","icon":"fa-tint ","order":2\},\{"id":"883b8e2d.ae26f","type":"ui_tab","z":"","name":"Terrarium","icon":"fa-cloud","order":3\}]}