Firmware/Node-Red_Flows/Grove_Openponics_V1.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"a51cee2e.de88a","type":"tab","label":"Flow 1","disabled":false,"info":""\},\{"id":"21bca72b.0c7678","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_48V","param":"","once":false,"repeat":"0","consolelog":false,"x":498,"y":102,"wires":[["4ba88d02.0d06a4"]]\},\{"id":"4ba88d02.0d06a4","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":786,"y":103,"wires":[]\},\{"id":"725b4094.4ae228","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":788,"wires":[["339fbe24.56b852","5035e982.f50488","6d97d3a5.b2e51c","c1bb59d1.70fa3","3215c6fe.65dd42","1a17529c.f49005","488fe1d9.20399","9b6cff83.318e6"]]\},\{"id":"5d59095e.5dfd58","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_PUMP","param":"","once":false,"repeat":"0","consolelog":false,"x":499.5,"y":152,"wires":[["52a4965a.3ba528"]]\},\{"id":"52a4965a.3ba528","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":776.5,"y":156,"wires":[]\},\{"id":"4cece183.3ec978","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC1","param":"","once":false,"repeat":"0","consolelog":false,"x":505,"y":202,"wires":[["abd45dfa.7497b"]]\},\{"id":"abd45dfa.7497b","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":782,"y":206,"wires":[]\},\{"id":"4aecd0ee.1eeee8","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC2","param":"","once":false,"repeat":"0","consolelog":false,"x":508.5,"y":256,"wires":[["32b62bbe.785fec"]]\},\{"id":"32b62bbe.785fec","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":782.5,"y":255,"wires":[]\},\{"id":"af640ef9.a126b","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC3","param":"","once":false,"repeat":"0","consolelog":false,"x":507.5,"y":302,"wires":[["3d7c8385.6d8734"]]\},\{"id":"3d7c8385.6d8734","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":784.5,"y":306,"wires":[]\},\{"id":"339fbe24.56b852","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R5V_A","once":false,"repeat":0,"consolelog":false,"x":458,"y":773,"wires":[["8185b639.3c04f8"]]\},\{"id":"8185b639.3c04f8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":5,"width":"3","height":"2","gtype":"gage","title":"5V Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":725.5,"y":773,"wires":[]\},\{"id":"5035e982.f50488","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"LED1_A","once":false,"repeat":0,"consolelog":false,"x":454,"y":809,"wires":[["8d2b018b.421e5"]]\},\{"id":"8d2b018b.421e5","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":2,"width":"3","height":"2","gtype":"gage","title":"LED1 Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":738.5,"y":809,"wires":[]\},\{"id":"6d97d3a5.b2e51c","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"system_watts","once":false,"repeat":0,"consolelog":false,"x":437,"y":920,"wires":[["c66a81aa.fa789"]]\},\{"id":"c66a81aa.fa789","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Wattage","label":"Watts","format":"\{\{value | number:2\}\}","min":0,"max":"500","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":734.5,"y":920,"wires":[]\},\{"id":"c1bb59d1.70fa3","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"system_amps","once":false,"repeat":0,"consolelog":false,"x":432,"y":960,"wires":[["b70bfdeb.cb0d68"]]\},\{"id":"b70bfdeb.cb0d68","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":"3","height":"2","gtype":"gage","title":"Total Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#0bb500","#e6e100","#ca000f"],"seg1":"","seg2":"","x":725.5,"y":963,"wires":[]\},\{"id":"1a17529c.f49005","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R12V_A","once":false,"repeat":0,"consolelog":false,"x":459,"y":733,"wires":[["fb9cfe10.ae1b48"]]\},\{"id":"fb9cfe10.ae1b48","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":3,"width":"3","height":"2","gtype":"gage","title":"12V Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":728.5,"y":736,"wires":[]\},\{"id":"3215c6fe.65dd42","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"LED2_A","once":false,"repeat":0,"consolelog":false,"x":454,"y":844,"wires":[["8ca6e7df.85c38"]]\},\{"id":"8ca6e7df.85c38","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":4,"width":"3","height":"2","gtype":"gage","title":"LED2 Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":738.5,"y":844,"wires":[]\},\{"id":"488fe1d9.20399","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R48V_A","once":false,"repeat":0,"consolelog":false,"x":465,"y":690,"wires":[["27b8cbd9.e78ae4"]]\},\{"id":"27b8cbd9.e78ae4","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":1,"width":"3","height":"2","gtype":"gage","title":"48V Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":728.5,"y":698,"wires":[]\},\{"id":"9b6cff83.318e6","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"PUMP_A","once":false,"repeat":0,"consolelog":false,"x":452,"y":882,"wires":[["29d23f6.e3f144"]]\},\{"id":"29d23f6.e3f144","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":6,"width":"3","height":"2","gtype":"gage","title":"Pump Current","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":736.5,"y":882,"wires":[]\},\{"id":"8ae5bf70.9e0168","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED1digital","param":"","once":false,"repeat":"0","consolelog":false,"x":487,"y":355,"wires":[["46d8c188.613b1"]]\},\{"id":"46d8c188.613b1","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":765,"y":356,"wires":[]\},\{"id":"2fb2dc71.56a784","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED2digital","param":"","once":false,"repeat":"0","consolelog":false,"x":507,"y":511,"wires":[["4a7ff3af.bcdd04"]]\},\{"id":"4a7ff3af.bcdd04","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":774,"y":512,"wires":[]\},\{"id":"776c141e.5b69c4","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED1analog","param":"","once":false,"repeat":"0","consolelog":false,"x":486,"y":452,"wires":[["5cf2b8b0.0e2ef8"]]\},\{"id":"5cf2b8b0.0e2ef8","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":769,"y":432,"wires":[]\},\{"id":"1589df41.d1d8c1","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"LED2analog","param":"","once":false,"repeat":"0","consolelog":false,"x":500,"y":607,"wires":[["51791b48.246b8c"]]\},\{"id":"51791b48.246b8c","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":784,"y":602,"wires":[]\},\{"id":"1c09dd3b.ea78a3","type":"ui_slider","z":"a51cee2e.de88a","name":"","label":"","tooltip":"","group":"73e6650c.e9befc","order":2,"width":"4","height":"1","passthru":false,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":609.5,"y":393,"wires":[["776c141e.5b69c4"]]\},\{"id":"f0f9fd72.f24c18","type":"ui_slider","z":"a51cee2e.de88a","name":"","label":"","tooltip":"","group":"73e6650c.e9befc","order":4,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":610,"y":553,"wires":[["1589df41.d1d8c1"]]\},\{"id":"cb764368.675dc8","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"48V","tooltip":"","group":"ddcb4f96.e3892","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-bolt","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-bolt","offcolor":"grey","x":225.5,"y":102,"wires":[["21bca72b.0c7678"]]\},\{"id":"49bc9382.9291d4","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"PUMP","tooltip":"","group":"ddcb4f96.e3892","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-tint ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-tint","offcolor":"grey","x":225,"y":146,"wires":[["5d59095e.5dfd58"]]\},\{"id":"519d99d8.62a04","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"HEATER","tooltip":"","group":"ddcb4f96.e3892","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-thermometer-full ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-thermometer-full ","offcolor":"grey","x":227,"y":191,"wires":[["4cece183.3ec978"]]\},\{"id":"48419e6c.e8f198","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"FAN1","tooltip":"","group":"ddcb4f96.e3892","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":216,"y":257,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"e411b665.43ddf8","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"FAN2","tooltip":"","group":"ddcb4f96.e3892","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-life-ring ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-life-ring ","offcolor":"grey","x":218,"y":303,"wires":[["af640ef9.a126b"]]\},\{"id":"b0bf95d9.8bf55","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"LED2","tooltip":"","group":"73e6650c.e9befc","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":249,"y":511,"wires":[["2fb2dc71.56a784","a317bd3f.f0d0c8"]]\},\{"id":"580965de.8a1ba4","type":"ui_switch","z":"a51cee2e.de88a","name":"","label":"LED1","tooltip":"","group":"73e6650c.e9befc","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-lightbulb-o ","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-lightbulb-o ","offcolor":"grey","x":222,"y":357,"wires":[["8ae5bf70.9e0168","6a93e493.104d84"]]\},\{"id":"a317bd3f.f0d0c8","type":"function","z":"a51cee2e.de88a","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":436.8333740234375,"y":553.1666870117188,"wires":[["f0f9fd72.f24c18"]]\},\{"id":"6a93e493.104d84","type":"function","z":"a51cee2e.de88a","name":"Bool to Int","func":"if (msg.payload === 1) \\n\{\\n   msg.payload = 255;\\n   return msg;\\n\}\\nelse\\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":393,"wires":[["1c09dd3b.ea78a3"]]\},\{"id":"2e463194.7a1d36","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"humidity","once":false,"repeat":0,"consolelog":false,"x":443,"y":1031,"wires":[["fa75da91.5b9068"]]\},\{"id":"74e92351.76c634","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":1032,"wires":[["2e463194.7a1d36","c185ade5.78d7e8","3a8b2c3b.a17714","188d66f7.112331"]]\},\{"id":"fa75da91.5b9068","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":713,"y":1032,"wires":[]\},\{"id":"c185ade5.78d7e8","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"tempf","once":false,"repeat":0,"consolelog":false,"x":436,"y":1075,"wires":[["584cf8b9.e9fac8","e5c4a1cc.3982f8"]]\},\{"id":"584cf8b9.e9fac8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":725,"y":1082,"wires":[]\},\{"id":"e5c4a1cc.3982f8","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":531.5,"y":1129,"wires":[["a98f460d.7a52b"]]\},\{"id":"a98f460d.7a52b","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":2,"width":"3","height":"2","gtype":"gage","title":"Temperature C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":730,"y":1129,"wires":[]\},\{"id":"3a8b2c3b.a17714","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"baroTemp","once":false,"repeat":0,"consolelog":false,"x":399,"y":1166,"wires":[["f0bb3cc9.679d78","ef3745e6.42245"]]\},\{"id":"f0bb3cc9.679d78","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":3,"width":"3","height":"2","gtype":"gage","title":"Baro Temp F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":717,"y":1173,"wires":[]\},\{"id":"fad53989.75788","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":4,"width":"3","height":"2","gtype":"gage","title":"Baro Temp C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":718,"y":1208,"wires":[]\},\{"id":"ef3745e6.42245","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":515,"y":1205,"wires":[["fad53989.75788"]]\},\{"id":"188d66f7.112331","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"3c0030000647343232363230","getvar":"pascals","once":false,"repeat":0,"consolelog":false,"x":394,"y":1245,"wires":[["673bbaba.89d6a4","9e52d7e5.6de2e"]]\},\{"id":"673bbaba.89d6a4","type":"function","z":"a51cee2e.de88a","name":"hPa Conversion","func":" var pascals = msg.payload;\\n var hPa = pascals/100;\\n    msg.payload = hPa;\\n    return msg;\\n    ","outputs":1,"noerr":0,"x":312,"y":1291,"wires":[[]]\},\{"id":"9e52d7e5.6de2e","type":"function","z":"a51cee2e.de88a","name":"inHg Conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":551,"y":1297,"wires":[["bdaf4ed8.52ea08"]]\},\{"id":"bdaf4ed8.52ea08","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"43ae66c6.8c5f4","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":711,"y":1248,"wires":[]\},\{"id":"ee54d216.2ac9c","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"humidity","once":false,"repeat":0,"consolelog":false,"x":447.00001525878906,"y":1386,"wires":[["b922dc93.ba2cd8"]]\},\{"id":"b0bcd2a.c03903","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160.00001525878906,"y":1387,"wires":[["ee54d216.2ac9c","47770272.dfd874","1353b92e.d46837","6cdeee6f.6ee188","2360149.c938eec"]]\},\{"id":"b922dc93.ba2cd8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":5,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"RH%","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":717.0000152587891,"y":1387,"wires":[]\},\{"id":"47770272.dfd874","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"tempf","once":false,"repeat":0,"consolelog":false,"x":440.00001525878906,"y":1430,"wires":[["b61fdbf0.7a57f","e599b7a8.50124"]]\},\{"id":"b61fdbf0.7a57f","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":3,"width":"3","height":"2","gtype":"gage","title":"Temperature F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":725.0000152587891,"y":1438,"wires":[]\},\{"id":"e599b7a8.50124","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":503.50001525878906,"y":1478,"wires":[["93fe4ccc.3c83d"]]\},\{"id":"93fe4ccc.3c83d","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":4,"width":"3","height":"2","gtype":"gage","title":"Temperature C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":723.0000152587891,"y":1478,"wires":[]\},\{"id":"1353b92e.d46837","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"baroTemp","once":false,"repeat":0,"consolelog":false,"x":403.00001525878906,"y":1521,"wires":[["5f7bdbb4.8661c4"]]\},\{"id":"5f7bdbb4.8661c4","type":"function","z":"a51cee2e.de88a","name":"","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":553.0000152587891,"y":1563,"wires":[[]]\},\{"id":"6cdeee6f.6ee188","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"pascals","once":false,"repeat":0,"consolelog":false,"x":398.00001525878906,"y":1600,"wires":[["530e6b16.fcea3c","f99ae5b5.5811c8"]]\},\{"id":"530e6b16.fcea3c","type":"function","z":"a51cee2e.de88a","name":"hPa Conversion","func":" var pascals = msg.payload;\\n var hPa = pascals/100;\\n    msg.payload = hPa;\\n    return msg;\\n    ","outputs":1,"noerr":0,"x":345.00001525878906,"y":1648,"wires":[[]]\},\{"id":"f99ae5b5.5811c8","type":"function","z":"a51cee2e.de88a","name":"inHg conversion","func":" var pascals = msg.payload;\\n var inHg = ((pascals/100) * 0.0295300);\\n    msg.payload = inHg;\\n    return msg;\\n","outputs":1,"noerr":0,"x":557.0000152587891,"y":1649,"wires":[["1f9d0a92.2d0bfd"]]\},\{"id":"1f9d0a92.2d0bfd","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":6,"width":"3","height":"2","gtype":"gage","title":"Pressure","label":"inHg","format":"\{\{value | number:2\}\}","min":0,"max":"100","colors":["#a37a2f","#49e6df","#001aca"],"seg1":"","seg2":"","x":721.0000152587891,"y":1648,"wires":[]\},\{"id":"2360149.c938eec","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"watertempF","once":false,"repeat":0,"consolelog":false,"x":413.00001525878906,"y":1697,"wires":[["72b699d4.4b1478","dc0a4af7.e822"]]\},\{"id":"72b699d4.4b1478","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":1,"width":"3","height":"2","gtype":"gage","title":"Water Temp F","label":"Degrees F","format":"\{\{value | number:2\}\}","min":"32","max":"100","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":716.0000152587891,"y":1694,"wires":[]\},\{"id":"c2e46668.b78d68","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"173d4775.5c0819","order":2,"width":"3","height":"2","gtype":"gage","title":"Water Temp C","label":"Degrees C","format":"\{\{value | number:2\}\}","min":0,"max":"40","colors":["#1e78a3","#e6922d","#ca0016"],"seg1":"","seg2":"","x":714.0000152587891,"y":1740,"wires":[]\},\{"id":"3f62622d.0e670e","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"upperThresh","once":false,"repeat":0,"consolelog":false,"x":439,"y":1825,"wires":[["b74ee632.f1dfd8"]]\},\{"id":"9dc868d2.576c8","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":142,"y":1826,"wires":[["3f62622d.0e670e","88dbdeaf.4868e"]]\},\{"id":"88dbdeaf.4868e","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","getvar":"lowerThresh","once":false,"repeat":0,"consolelog":false,"x":430,"y":1954,"wires":[["78dc2bfb.f1ca0c"]]\},\{"id":"b74ee632.f1dfd8","type":"ui_numeric","z":"a51cee2e.de88a","name":"","label":"Set Upper Threshold","tooltip":"","group":"64b9cd8d.77e3a4","order":1,"width":"0","height":"0","passthru":true,"topic":"","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":517.5,"y":1868,"wires":[["9e619b30.88c13"]]\},\{"id":"78dc2bfb.f1ca0c","type":"ui_numeric","z":"a51cee2e.de88a","name":"","label":"Set Lower Threshold","tooltip":"","group":"64b9cd8d.77e3a4","order":2,"width":"0","height":"0","passthru":true,"topic":"","format":"\{\{value\}\}","min":"40","max":"100","step":1,"x":513,"y":2001,"wires":[["e0ce5ec7.aeb6e8"]]\},\{"id":"dc0a4af7.e822","type":"function","z":"a51cee2e.de88a","name":"Celcius Conversion","func":" var tempf = msg.payload;\\n var tempc = (tempf - 32) * 5/9;\\n    msg.payload = tempc;\\n    return msg;","outputs":1,"noerr":0,"x":499.00001525878906,"y":1743,"wires":[["c2e46668.b78d68"]]\},\{"id":"9e619b30.88c13","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","fname":"setUpThresh","param":"","once":false,"repeat":0,"consolelog":false,"x":427.5,"y":1916,"wires":[[]]\},\{"id":"e0ce5ec7.aeb6e8","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"2c0022000a47343432313031","fname":"setLowThresh","param":"","once":false,"repeat":0,"consolelog":false,"x":425,"y":2062,"wires":[[]]\},\{"id":"d0c13c79.db6838","type":"camerapi-takephoto","z":"a51cee2e.de88a","filemode":"1","filename":"photo1.jpg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Photo","x":531.5,"y":2142,"wires":[["4a798a29.89357c"]]\},\{"id":"3709a7bc.e5e3b8","type":"ui_template","z":"a51cee2e.de88a","group":"8e15be2b.d24d1","name":"","order":6,"width":0,"height":0,"format":"<script>\\nvar value = \\"1\\";\\n// or overwrite value in your callback function ...\\nthis.scope.action = function() \{ return value; \}\\n\\nfunction updateF() \{\\n  var source = '/photo1.jpg',\\n  timestamp = (new Date()).getTime(),\\n  newUrl = source + '?_=' + timestamp;\\n  document.getElementById(\\"photo\\").src = newUrl;\\n\}\\n</script>\\n\\n<md-button ng-click=\\"send(\{payload:action()\})\\" onclick=\\"setTimeout(updateF, 2500);\\" style=\\"padding:10px; margin-bottom: 10px;\\" >\\n <ui-icon icon=\\"camera\\"></ui-icon>\\n Take A Photo<br>\\n</md-button>\\n\\n<div style=\\"margin-bottom:40px;\\">\\n <img src=\\"/photo1.jpg\\" id=\\"photo\\" width=\\"100%\\" height=\\"100%\\">\\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":346.5,"y":2137,"wires":[["d0c13c79.db6838"]]\},\{"id":"4a798a29.89357c","type":"debug","z":"a51cee2e.de88a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":723.5,"y":2146,"wires":[]\},\{"id":"db6fd299.985fa","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":149,"y":2140,"wires":[["3709a7bc.e5e3b8"]]\},\{"id":"3d9a58ef.db6fe8","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"","x":93,"y":327,"wires":[["580965de.8a1ba4"]]\},\{"id":"4d3dd12d.5874e8","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","x":91,"y":378,"wires":[["580965de.8a1ba4"]]\},\{"id":"c4d8139e.9add88","type":"function","z":"a51cee2e.de88a","name":"","func":"msg.payload=[\\n\\t\{name:'ute',age:20\},\\n\\t\{name:'schnute',age:21\},\\n\\t\{name:'kasimir',age:25\},\\n];\\nreturn msg;","outputs":1,"noerr":0,"x":448.99993896484375,"y":2240.6666259765625,"wires":[["7243aca8.0f9eec"]]\},\{"id":"e84b625b.5f2ea8","type":"chart request","z":"a51cee2e.de88a","charttype":"ColumnChart","path":"/googlechart","attribs":[\{"name":"name","type":"string"\},\{"name":"age","type":"number"\}],"x":232.99993896484375,"y":2237.6666259765625,"wires":[["c4d8139e.9add88"]]\},\{"id":"7243aca8.0f9eec","type":"chart response","z":"a51cee2e.de88a","x":645.9999389648438,"y":2234.6666259765625,"wires":[]\},\{"id":"da1f6dc8.f16c18","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":93,"y":72,"wires":[["cb764368.675dc8"]]\},\{"id":"282aee1d.caa7e2","type":"comment","z":"a51cee2e.de88a","name":"Turn on/off at specific times","info":"","x":125,"y":415,"wires":[]\},\{"id":"aef0b055.df04d8","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"17eca6cd5930b921751370f8de980dfe3f59c2ac","name":"Particle.io"\},\{"id":"6bb64915.67629","type":"ui_group","z":"","name":"Power Consumption DC","tab":"73b776d0.c1e4f","order":3,"disp":true,"width":"6","collapse":true\},\{"id":"325976b0.bd865a","type":"ui_group","z":"","name":"Total System Power AC","tab":"73b776d0.c1e4f","order":7,"disp":true,"width":"6","collapse":true\},\{"id":"73e6650c.e9befc","type":"ui_group","z":"","name":"Lights","tab":"73b776d0.c1e4f","order":6,"disp":true,"width":"6","collapse":false\},\{"id":"ddcb4f96.e3892","type":"ui_group","z":"","name":"Relays","tab":"73b776d0.c1e4f","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"43ae66c6.8c5f4","type":"ui_group","z":"","name":"Grow Room ","tab":"73b776d0.c1e4f","order":2,"disp":true,"width":"6","collapse":false\},\{"id":"173d4775.5c0819","type":"ui_group","z":"","name":"Turtle Tank","tab":"73b776d0.c1e4f","order":4,"disp":true,"width":"6","collapse":false\},\{"id":"64b9cd8d.77e3a4","type":"ui_group","z":"","name":"Turtle Tank Alarm","tab":"73b776d0.c1e4f","order":8,"disp":true,"width":"6","collapse":false\},\{"id":"8e15be2b.d24d1","type":"ui_group","z":"","name":"Camera","tab":"73b776d0.c1e4f","order":1,"disp":true,"width":"6","collapse":false\},\{"id":"73b776d0.c1e4f","type":"ui_tab","z":"","name":"Openponics","icon":"fa-leaf","order":1\}]}